{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body style="background-image:url({% static 'images/register.jpg' %})">
<h2> REGISTRATION FORM </h2>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your Username"><br>
    <input type="text" name="first_name" placeholder="Enter your First name"><br>
    <input type="text" name="last_name" placeholder="Enter your Last name"><br>
    <input type="email" name="email" placeholder="Enter your Email Address"><br>
    <input type="password" name="password" placeholder="Enter your Password"><br>
    <input type="password" name="con_password" placeholder="Confirm your Password"><br>
    <input type="submit">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>